POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=pass123
POSTGRES_DATABASE=dektry-portal
JWT_KEY=secretKey
RUN_MIGRATIONS=true
NODE_ENV=production
PORT=3000
ENCRYPT_KEY=5A7134743777217A24432646294A404E
