<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
  rel="stylesheet"
/>
<style>
  p {
    margin: 0;
  }
  .container {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    width: 595px;
    max-height: 842px;
    padding: 24px;
    box-sizing: border-box;
    position: relative;
  }
  .header {
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #e5e9f2;
    margin-bottom: 24px;
  }
  .logo-page-count-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    width: 54px;
    height: 24px;
  }
  .page-count {
    color: #aab2c3;
    font-size: 10px;
  }
  .project-box {
    margin-bottom: 28px;
  }
  .project-header {
    border: 1px solid #e5e9f2;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    background: #F4F7FC;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }
  .project-body {
    border-left: 1px solid #e5e9f2;
    border-right: 1px solid #e5e9f2;
    display: flex;
    line-height: 18px;

  }
  .project-body > div {
    padding: 12px 16px 16px;
  }
  .project-body > div:first-child {
    border-right: 1px solid #e5e9f2;
    width: 184px;
  }
  .project-description {
  }
  .responsibility-list {
    padding-left: 15px;
    margin: 0;
  }
  .tool-n-tech {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  .tool-n-tech p {
    background: #F4F7FC;
    border-radius: 100px;
    padding: 2px 12px;
    line-height: 18px;
  }
  .project-footer {
    border: 1px solid #e5e9f2;
    padding: 12px 16px 16px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .title {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 16px;
    margin-top: 24px;
    text-transform: uppercase;
  }
  .field-name {
    font-size: 10px;
    line-height: 14px;
    color: #aab2c3;
    margin-bottom: 4px;
  }
</style>
<div class="container">
  <div class="header">
    <div class="logo-page-count-box">
      <svg
        class="logo"
        viewBox="0 0 476 216"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M321.509 215.843C381.212 215.843 429.612 167.524 429.612 107.921C429.612 48.318 381.212 0 321.509 0C261.805 0 213.406 48.318 213.406 107.921C213.406 167.524 261.805 215.843 321.509 215.843Z"
          fill="url(#paint0_linear_32_12336)"
        />
        <path
          d="M16.1368 64.1556H1.0603V82.8993H7.46781H15.8777C39.4348 82.8993 47.609 92.9881 47.609 108.227C47.609 125.043 38.5395 135.884 15.8777 135.884H7.46781H1.0603V154.627H14.2051C52.2731 154.627 68.3154 134.073 68.3154 108.227C68.3154 84.5688 54.9823 64.1556 16.1368 64.1556Z"
          fill="black"
        />
        <path
          d="M82.8036 64.1556H152.061V82.8993H102.874V99.714H148.834V117.799H102.874V135.884H153.239V154.627H82.8036V64.1556Z"
          fill="black"
        />
        <path
          d="M172.369 64.1556H192.439V99.432L227.257 64.1556H253.405L214.065 104.23L256.02 154.651H229.612L198.917 117.681L192.439 124.266V154.651H172.369V64.1556Z"
          fill="black"
        />
        <path
          d="M310.388 64.1556H261.319V82.8993H290.318V154.627H310.388V64.1556Z"
          fill="white"
        />
        <path
          d="M361.532 120.127C372.415 115.87 379.27 105.264 379.27 93.6232C379.27 78.619 371.497 64.1556 342.639 64.1556H326.055V82.8993H342.239C355.054 82.8993 358.422 87.1557 358.422 93.6232C358.422 100.867 352.863 105.006 343.016 105.006H326.055V123.749H340.425L362.568 154.651H386.761L361.532 120.127Z"
          fill="white"
        />
        <path
          d="M438.939 122.197V154.651H418.868V122.197L382.497 64.1556H406.453L429.234 100.349L452.531 64.1556H475.713L438.939 122.197Z"
          fill="black"
        />
        <defs>
          <linearGradient
            id="paint0_linear_32_12336"
            x1="245.067"
            y1="184.226"
            x2="397.685"
            y2="31.3513"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#F6856C" />
            <stop offset="1" stop-color="#B727D9" />
          </linearGradient>
        </defs>
      </svg>
      <p class="page-count">Page {{ currentPage }}/{{ pageCount }}</p>
    </div>
  </div>
  <p class="title">Projects</p>
  <div class="project-box">
    <div class="project-header">
      <div>
        <p class="field-name">Project name</p>
        <p>Zialik</p>
      </div>
      <div>
        <p class="field-name">Duration</p>
        <p>8 months</p>
      </div>
      <div>
        <p class="field-name">Project role</p>
        <p>Leader developer</p>
      </div>
      <div>
        <p class="field-name">Project team size</p>
        <p>20 members</p>
      </div>
    </div>
    <div class="project-body">
      <div>
        <p class="field-name">Project description</p>
        <p class="project-description">
          Transport Management system that brings optimisation of a large number
          of fleets in Intermodal and Interbranch use case
        </p>
      </div>
      <div>
        <p class="field-name">Responsibilities</p>
        <ul class="responsibility-list">
          <li>
            Implementing visual component using React React hooks and less
          </li>
          <li>
            Creating connection to Shopify, google analytics, and Google Ads
          </li>
          <li>
            Creating components for visual presentation of information using
            Highcharts (diagrams, maps)
          </li>
          <li>Requirements and estimation</li>
          <li>Bug fixing</li>
        </ul>
      </div>
    </div>
    <div class="project-footer">
      <p class="field-name">Tools & Technologies</p>
      <div class="tool-n-tech">
        <p>React</p>
        <p>Redux</p>
        <p>React hooks</p>
        <p>Less</p>
        <p>Highcharts</p>
        <p>Shopify</p>
        <p>Google analytics</p>
        <p>Google Ads</p>
      </div>
    </div>
  </div>
  <div class="project-box">
    <div class="project-header">
      <div>
        <p class="field-name">Project name</p>
        <p>Zialik</p>
      </div>
      <div>
        <p class="field-name">Duration</p>
        <p>8 months</p>
      </div>
      <div>
        <p class="field-name">Project role</p>
        <p>Leader developer</p>
      </div>
      <div>
        <p class="field-name">Project team size</p>
        <p>20 members</p>
      </div>
    </div>
    <div class="project-body">
      <div>
        <p class="field-name">Project description</p>
        <p class="project-description">
          Transport Management system that brings optimisation of a large number
          of fleets in Intermodal and Interbranch use case
        </p>
      </div>
      <div>
        <p class="field-name">Responsibilities</p>
        <ul class="responsibility-list">
          <li>
            Implementing visual component using React React hooks and less
          </li>
          <li>
            Creating connection to Shopify, google analytics, and Google Ads
          </li>
          <li>Requirements and estimation</li>
          <li>Bug fixing</li>
        </ul>
      </div>
    </div>
    <div class="project-footer">
      <p class="field-name">Tools & Technologies</p>
      <div class="tool-n-tech">
        <p>React</p>
        <p>Redux</p>
        <p>React hooks</p>
        <p>Less</p>
        <p>Highcharts</p>
        <p>Shopify</p>
        <p>Google analytics</p>
        <p>Google Ads</p>
      </div>
    </div>
  </div>
</div>
